.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  background-color: #000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  font-weight: 400;
  color: #fff;
}

.menu {
  position: fixed;
  height: 100%;
  width: 180px;
  background-color:rgb(0, 0, 0);
  z-index: 10;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  min-height: 100vh;
  display: relative;
}

.btn {
  margin: 30px 30px;
  padding: 10px 20px;
  border: black solid 1px;
  font-weight: 300;
  font-size: 14px;
  transition: 0.4s;
}

.btn:hover {
  cursor: pointer;
  background-color: #000000;
  color: #fff;
}

.modal-div {
  display: flex;
  justify-content: center;
}

.header-p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

#header-p-menu{
  color: #fff;
}

.no-account {
  font-size: 12px;
}

#username-header {
  font-weight: 500;
  margin: 0;
  cursor: text;
}

.section-title {
  padding-top: 30px;
}