.list-container {
    max-width: 80%;
    padding-left: 260px;
    padding-right: 100px;
    /* margin-left: 250px; */
    
}

#parTTL {
    padding-top: 30px;
    text-align: center;
}

#altText {
    padding: 30px 0px;
    text-align: center;
}

#preloader {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
}

textarea {
    border: 1px solid orange;
    resize: none;
    overflow: auto;
    margin-top: 30px;
    padding: 10px;
    width: 60%;
    height: 100px;
    border-radius: 4px;
    outline: none;
}