.list-container {
    max-width: 70%;
    display: inline-block;
}

.list-container li {
    text-align: center;
    text-align: left;
    list-style: none;
    padding: 10px 10px;
}

.list-container li div {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 0px;
    background-color: rgb(214, 205, 205);
    border: rgba(221, 219, 217, 0.459) solid 1px;
    border-radius: 10px;
    transition: 0.4s;
}

.list-container li div:hover {
    background-color: rgb(167, 152, 140);
}

img {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
}

span {
    margin-left: 15px;
    margin-right: 20px;
    font-weight: lighter;
}

span:hover,
img:hover {
    cursor: pointer;
}

div .hidden {
    display: none;
}

div .visible {
    display: block;
}