#main-menu {
    width: 100%;
    padding: 30px 40px;
}

#main-menu-list li {
    list-style: none;
    text-align: left;
    line-height: 2;
}

#main-menu-list li a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    font-weight: 300;
}

#main-menu-list li a:hover {
    color: #FE4880;
}
