  .message {
    display: block;
    max-width: 280px;
    height: 180px;
    color: #000;
    position: relative;
    padding: 10px 10px 10px 20px;
    border: #aaa8a8 solid 1px;
    border-radius: 4px;
  }
  
  /* #message-username {
    margin-top: 150px;
  }
  
  #message-email {
    margin-top: 190px;
  }
  
  #message-psw {
  margin-top: 230px;
  }
  
  #message-psw-confirm {
    margin-top: 270px;
  } */
  
  .message p {
    font-size: 12px;
    padding: 5px 5px;
  }
  
  .message h3 {
    color: #aaa8a8;
    font-size: 13px;
    font-weight: 200;
    margin: 5px 0px;
  }

  p {
      text-align: left;
      padding-left: 10px;
    }
  
  input {
      min-width: 80px;
      padding: 12px 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(21, 133, 21);
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    right: 10px;
    content: "\2611";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: #FE4880;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    right: 10px;
    content: "\2612";
  }
  
  .span-username {
    font-weight: 500;
    margin: 0;
    cursor: text;
    color: #FE4880;
  }
  



#create-account-form {
    display: block;
    position: relative;
    width: 300px;
    margin: 50px 0px 80px 50px;
  }
  
  #create-account-form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
  }
  
  #create-account-form .form-inner {
      position: relative;
      display: block;
      background-color: #FFF;
      padding: 30px;
      z-index: 2;
  }
  
  #create-account-form .form-inner h2 {
      color: #888;
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 30px;
  }
  
  #create-account-form .form-inner .form-group {
      display: block;
      width: 300px;
      margin-bottom: 15px
  }
  
  #create-account-form .form-inner .form-group label {
      display: block;
      color: #666;
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 15px;
      transition: 0.4s;
  }
  
  #create-account-form .form-inner .form-group:focus-within label {
    color: #FE4880;
  }
  
  #create-account-form .form-inner .form-group input {
      display: block;
      width: 100%;
      padding: 10px 15px;
      background-color: #F8F8F8;
      border-radius: 8px;
      transition: 0.4s;
  }

  #create-account-form .form-inner .form-group input:focus {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  #create-account-form .form-inner input[type="submit"],
  .welcome button {
      display: inline-block;
      padding: 10px 15px;
      border-radius: 8px;
      background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
      background-size: 200%;
      background-position: 0%;
      transition: 0.4s;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
  }
  
  #create-account-form .form-inner input[type="submit"]:hover,
  .welcome button:hover {
    background-position: 100% 0%;
  }