.outer-container {
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.signup {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 5px;
}

.message {
  display: none;
  max-width: 280px;
  height: 180px;
  color: #000;
  position: relative;
  padding: 10px 10px 10px 20px;
  border: #aaa8a8 solid 1px;
  border-radius: 4px;
  margin-top: 60px;
  margin-left: 50px;
}

#message-username {
  margin-top: 150px;
}

#message-email {
  margin-top: 190px;
}

#message-psw {
margin-top: 230px;
}

#message-psw-confirm {
  margin-top: 270px;
}

.message p {
  font-size: 12px;
  padding: 5px 5px;
}

.message h3 {
  color: #aaa8a8;
  font-size: 13px;
  font-weight: 200;
  margin: 5px 0px;
}

#errors {
    color: red;
    min-height: 50px;
    font-size: 16px;
  }

p {
    text-align: left;
    padding-left: 10px;
  }


input {
    min-width: 80px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: rgb(21, 133, 21);
}

.valid:before {
  position: relative;
  left: -10px;
  right: 10px;
  content: "\2611";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: #FE4880;
}

.invalid:before {
  position: relative;
  left: -10px;
  right: 10px;
  content: "\2612";
}

